.card-labels-content {
	margin-right: 25%;
	margin-top: 15px;
}

#labels-title {
	font-size: 14px;
	color: #5e6c84;
	font-weight: 500;
	letter-spacing: .04rem;
	text-transform: uppercase;
	width: 25%;
}

.card-label-index {
	margin: 5px 5px 5px 5px;
	margin-left: 52.5px;
}

.card-label-index-2 {
	display: flex;
}

.card-label-show {
	background-color: green;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	float: left;
	font-weight: 600;
	height: 32px;
	line-height: 32px;
	margin: 0 4px 4px 0;
	min-width: 40px;
	padding: 0 12px;
	width: auto;
}