.label-index {
	background-color: #fafbfc;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	width: 304px;
	padding: 0 15px;
}

.label-update-modal {
	background-color: #fafbfc;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	position: absolute;
	width: 304px;
}

#add-label {
	position: absolute;
}

.label-index-item {
	margin: 5px 0 5px 0;
	display: flex;
	justify-content: space-between;
}

.label-index-item-main {
	background: green;
	min-width: 75%;
	max-width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 3px;
	margin-left: 10px;
	color: #fff;
}

.label-index-content-2 {
	display: flex;
	justify-content: space-between;
}

.label-index-text {
	margin: 5px;
}

.label-edit-btns {
	margin: 0 5px 0 5px;
}

.material-icons.checkmark-icon {
	margin: 5px;
}

.material-icons.edit-button {
    cursor: pointer;
}

.material-icons.delete-button {
    cursor: pointer;
}

.material-icons.edit-button:hover {
    color: green;
}

.material-icons.delete-button:hover {
    color: firebrick;
}

#label-update-input {
	width: 60%;
	border-radius: 3px;
	margin: 2.5px 0 2.5px 0;
}

.material-icons.submit-button {
	font-size: 18px;
}

#label-create-input {
	background-color: #eaecef;
	color: #172b4d;
	border-radius: 5px;
	text-align: left;
	padding: 3px;
	border: 2px solid #dfe1e6;
	margin-bottom: 5px;
	width: 90%;
	margin-top: 5px;
}

#label-create-input:hover{
    background-color: rgba(234,236,239, 0.4);
}

#label-create-input:focus{
	background-color: #fff;
	border: 2px solid green;
}

.label-create-btn {
	background-color: rgba(9,30,66,.04);
	padding: 6px 12px;
	border-radius: 5px;
	color: #172b4d;
	margin: 10px;
	width: 85%;
}

.label-create-btn:hover{
    background-color: rgba(9,30,66,.08);
}

.label-index > hr {
	margin-bottom: 15px;
	width: 95%;
}

.label-index-clear-icon {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 10px;
}
.label-index > h1 {
	padding: 5px 0;
}

.label-index > p {
	font-size: 14px;
	color: #5e6c84;
	font-weight: 500;
	letter-spacing: .04rem;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 10px;
}

.label-create-btn-2 {
	background-color: green;
	padding: 6px 12px;
	border-radius: 5px;
	color: #fff;
	margin: 10px;
}

.label-create-btn-2:hover{
    background-color: rgba(0,128,0,.5);
}

.label-create-btns{
	display:flex;
	justify-content: left;
}

.label-create-close-btn {
	min-height: 24px;
	max-height: 24px;
	max-width: 24px;
	min-width: 24px;
	cursor: pointer;
	margin-top: 15px;
}

#label-update-input {
	background-color: #eaecef;
	color: #172b4d;
	border-radius: 5px;
	text-align: left;
	padding: 3px;
	border: 2px solid #dfe1e6;
	margin-bottom: 5px;
	width: 90%;
	margin-top: 5px;
}

#label-update-input:hover{
	background-color: rgba(234,236,239, 0.4);
}

#label-update-input:focus{
	background-color: #fff;
	border: 2px solid green;
}

.label-update-modal > h1 {
	padding: 5px 0;
}

.label-update-clear-btn {
	position: absolute;
	top: 5px;
	right: 10px;
}

.label-update-btn {
	display: flex;
}

.label-update-modal > hr {
	width: 90%;
}

.label-update > label {
	text-align: left;
	font-weight: 700;
	color: #5e6c84;
	font-size: 14px;
	display: block;
	margin-left: 10px;
}

.label-create > label {
	text-align: left;
	font-weight: 700;
	color: #5e6c84;
	font-size: 14px;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
}