.notice-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 400px; 
    right: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    text-align: center;
    color: rgba(0, 0, 0, 0.8);            
}

.notice-header{
    padding: 2% 0;
}

.material-icons.notice-close-btn{
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
}

.notice-comments{
    padding: 35% 0;
}