.notice-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 400px; 
    right: 3px;
    top: 48px;    
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    text-align: center;
    color: rgba(0, 0, 0, 0.8);            
}

.notice-header{
    padding: 2% 0;
}

.material-icons.notice-close-btn{
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
}

.notice-comments{
    padding: 35% 0;
}