#splash{
    background-color: #519839;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1300px;
}

.splash-text{
    color: white;
    width: 80%;
    margin: 10px 50px 10px;
}

.splash-text h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

.splash-text p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 5px;
}

.splash-img{
    margin-left: 5px;
    max-width: 50%;
}