.bdm-menu{
    position: absolute;    
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    left: 486px;
    top: 88px;    
}

/* .bdm-create-form{
    display: flex;
    flex-direction: column;
} */

.bdm-content{
    font-size: 20px;
}

.member-search{
    display:none;
}

.bdm-input{
    border: 2px solid lightgray;
    height: 27px;
}

.bdm-input:focus{
    border: 2px solid green;
    background: white;    
}


.bdm-input:focus + .member-search {
    display: block;
}

#new-bdm-btn{
    background-color: #519839;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#new-bdm-btn:hover{
    background-color: rgba(81, 152, 57,.4);
}

.member-search{
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.bdm-create-input{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#new-bdm-btn:disabled{
    background-color: rgba(9,30,66,.04);
    color: #a5adba;
    cursor: not-allowed;
}

.material-icons.bdm-menu-close-btn{
    position: absolute;
    top: 14px;
    right: 6px;
    cursor: pointer;   
}

.bdm-errors-list{
    background-color: #eb5a46;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;    
}