.card-show-menu{
    background: #fafbfc;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);    
    width: 768px;  
}

#card-title-input{
    font-size: 22px;
    text-align: left;
    position: relative;
    right: 0.75%;
    margin-top: 7.5px;
    border-radius: 5px;
    text-align: left;
    padding: 2.5px;
    width: 85%    
}

#card-title-input:focus{
    background-color: #fff;
    border: 2px solid green;
}


#card-list-text{
    color: #5e6c84;
    position: relative;
    right: 36.5%;
    /* margin-top: 4px; */
}

#card-list-text > a{
    text-decoration: underline;
}

#card-list-text > a:hover{
    color: #172b4d;
}

#card-description-input {
	background-color: #eaecef;
	color: #172b4d;
	resize: none;
	border-radius: 5px;
	text-align: left;
	padding: 7.5px;
	width: 85%;
	position: relative;
	margin-top: 7.5px;
	left: 1%;
}

#card-description-input:hover{
    background-color: rgba(234,236,239, 0.4);
}

#card-description-input:focus{
    background-color: #fff;
    border: 2px solid green;
}

.main-card-icon{
    position: relative;
    right: 1.85%;
    bottom: -5px;
}

.card-description > h2 {
	font-size: 20px;
	position: relative;
	max-width: 90px;
	left: 6.3%;
}

.card-comments > h2 {
	font-size: 20px;
	position: relative;
	max-width: 65px;
	left: 6.5%;
}

.card-icons{
    position: relative;
    right: 47.6%;
    bottom: -30.5px;
}

#delete-card {
	position: relative;
	left: 75%;
	top: -350px;
	width: 25%;
}

#delete-card-text-btn {
	background-color: firebrick;
	padding: 6px 12px;
	border-radius: 3px;
	color: #fff;
    display: flex;
    margin: 5px 0;
    padding-right: 85px;
}

#delete-card-text-btn:hover{
    background-color: #721616;
}

#delete-card-title {
	font-size: 14px;
	color: #5e6c84;
	font-weight: 500;
	letter-spacing: .04rem;
	text-transform: uppercase;
    text-align: left;
}

.material-icons.card-show-close-btn {
	position: relative;
	left: 2.5%;
	cursor: pointer;
}

#add-labels-btn {
	background-color: rgba(9,30,66,.04);
	padding: 6px 12px;
	border-radius: 3px;
	color: #172b4d;
    display: flex;
    margin: 5px 0;
    padding-right: 93px;
}

#add-labels-btn:hover{
    background-color: rgba(9,30,66,.08);
}

.card-show-content-2 {
	float: left;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 24px;
	padding: 0 8px 8px 16px;
	position: relative;
	width: 552px;
}

.card-actions {
	float: right;
	padding: 0 16px 8px 8px;
	width: 168px;
	height: 100%;
	top: 115px;
	position: relative;
}