/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button:hover{
    background-color: gray;
}

input:focus{
    background-color: gray;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
}
  
.modal-child {
    display: inline-block;
}

.modal-background.none{
    background: rgba(0, 0, 0, 0);
}

#account-menu-options{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    right: 3px;
    top: 48px;
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 0 0 1px;
    text-align: left;
}

#account-menu-options li{
    padding: 8px;
}

#account-menu-options li:hover{
    background-color: darkgray;
}

#profile-name{
    color: darkgray;
    font-size: 16px;
    text-align: center;
}

.account-menu-line{
    border: 1px solid lightgray;
    width: 90%;
}

.account-logout-btn{
    background-color: none;
}

.notice-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 400px; 
    right: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px;       
}

.notice-comments{
    text-align: center;
    padding: 45% 0;
}

.info-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 300px; 
    right: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px;       
}

.board-nav-content{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 300px; 
    left: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px;    
}

.board-create-content{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 300px; 
    left: 50%;
    transform: translate(-60%, 10%);    
    border-radius: 4px;
    box-shadow: 0 0 1px;    
}