/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small, h3 {
    font-family: 'Patrick Hand', cursive;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

input:focus{
    background-color: rgba(255, 255, 255, 0.3);
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
}
  
.modal-child {
    display: inline-block;
}

.modal-background.none{
    background: rgba(0, 0, 0, 0);
}

.account-menu-content{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    right: 3px;
    top: 48px;
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 0 0 1px;
    text-align: left;
}

#current-user{
    display: flex;
    justify-content: center;
}

.close-btn{
    position: absolute;
    right: 6px;
    cursor: pointer;
}


#account-menu-options li{
    padding: 8px;
}

#account-menu-options li:hover{
    background-color: rgba(169,169,169, 0.3);
}

#profile-name{
    color: darkgray;
    font-size: 16px;
    text-align: center;
}

.menu-line{
    border: 1px solid lightgray;
    width: 90%;
}

.account-logout-btn:hover{
    background-color: transparent;
}

.notice-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 400px;
    min-height: 400px; 
    right: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px;
    text-align: center;       
}

.notice-header{
    padding: 2% 0;
}

.notice-header-text{
    color: darkgray;    
}

.notice-close-btn{
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
}

.notice-comments{
    padding: 35% 0;
}

.info-menu{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 100px; 
    right: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px; 
}

.info-header-content{
    padding: 5px 0;
    color: darkgray;      
}

.info-content{
    padding: 5px 0;     
}

.info-close-btn{
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
}

.board-nav{
    position: absolute;
    background-color: whitesmoke;
    min-width: 300px;
    min-height: 300px; 
    left: 3px;
    top: 48px;    
    border-radius: 4px;
    box-shadow: 0 0 1px;    
}

.board-create-content{
    position: absolute;
    left: 50%;
    transform: translate(-60%, 10%);    
}

.board-create-main-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
    background-color: #519839;
    min-width: 300px;
    min-height: 150px;
    border-radius: 4px;
    box-shadow: 0 0 1px;
    padding: 0 10px;             
}

.board-create-btn{
    position: absolute;
    left: 0;
    top: 165px;
}

#create-board-btn{
    background-color: transparent;
    text-decoration: underline;      
}

.board-nav-content li:hover{
    background-color: rgba(169,169,169, 0.3);  
}

.board-nav-header{
    padding: 5px 0;
}

#board-nav-header{
    color: darkgray;
    letter-spacing: 0.07em;
}

.board-nav-close-btn{
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;   
}

.board-nav-content li{
    font-size: 14px;
    padding: 15px 15px;
}

.board-create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.board-create-close-btn{
    position: absolute;
    top: 20px;
    right: 6px;
    cursor: pointer;   
}

#new-board-btn{
    background-color: #519839;
    color: whitesmoke;
    border-radius: 7.5px;     
    padding: 7.5px;
    margin: 15px 0;
}

#new-board-btn:hover{
    background-color: rgba(81, 152, 57,0.8);
}

.board-title-input{
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto 2px;
    border-radius: 7.5px;
    padding: 5px;
    margin: 15px 0;
    text-align: left; 
}