.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #519839;
    padding-bottom: 2px;
    margin-top: -1px;
}

.nav-btn{
    background-color: whitesmoke;
    color: #519839;
    padding: 7.5px;
}

.nav-btn:first-child{
    background-color: #519839;    
    color: whitesmoke;
}

.nav-btn:last-child{
    border: 1px solid transparent;
    border-radius: 7.5px;    
}

.nav-bar-left{
    display: flex;
    margin: auto 2px;
}

.nav-bar-right{
    display: flex;    
    margin: auto 2px;  
}

.logo{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
}

.logo:hover{
    color: rgba(255, 255, 255, 0.3);
}

.nav-btn-2{
    display: flex;    
    background-color: rgba(255, 255, 255, 0.4);
    color: whitesmoke;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: auto 2px;        
}

.logout-btn{
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    padding: 7.5px;
    border-radius: 50%;
    margin: auto 2px;
    height: 20px;
    width: 20px;
    text-align: center;  
}

.logout-btn:hover{
    background-color: whitesmoke;
}

.search-bar{
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto 2px;
    border-radius: 5px;
    padding: 6px;  
}

.material-icons.nav-icons{
    font-size: 22px;
}